Source: holidays
Section: web
Priority: standard
Maintainer: ITSMng SysAdmin <sysadmin@itsm-ng.com>
Build-Depends:	debhelper (>= 9)
Rules-Requires-Root: no
Homepage: https://github.com/itsmng/holidays

Package: itsm-ng-plugin-holidays
Architecture: all
Depends: itsm-ng (>= 1:2.0),
Description: ITSM-NG Plugin that allow to import holidays into a specified Calendar.
